@import "_reset";
@import "_config";
@import "../../node_modules/gorko/gorko";

// Global styles start
:root {
  --flow-space: #{get-size('600')};
}

body {
  background: get-color('light');
  color: get-color('dark');
  line-height: 1.5;
  font-size: get-size('500');
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include apply-utility('font', 'base');
}

[href]:not([class]) {
  color: currentColor;
  text-decoration-color: get-color('primary');
}

:focus {
  outline: 2px solid get-color('primary');
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1,h2 {
  font-size: get-size("600");
  font-weight: 400;
  @include apply-utility('font', 'base');
  @include apply-utility('leading', 'flat');
}


main {
  display: flex;
  flex-grow: 1;
}

header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 1px currentColor;
  > div {
    svg {
      path {
        fill: get-color("light");
      }
    }
    display: flex;
    align-items: center;
    h1 {
      margin-right: auto;
    }
  }
}

dl {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow: inset -1px 0 currentColor;
  .manual-item {
    box-shadow: inset 1px 1px currentColor;
    flex: 1 0 calc(25%);
    min-width: 30ch;
    align-items: stretch;
    padding: 2rem;
    dt {
      font-weight: 700;
      font-size: get-size('600');
      @include apply-utility('leading', 'flat');
    }
    dl {

    }
  }

  ul,ol {
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: get-size('300');
    }
  }

}

@import 'utilities/flow';
@import 'utilities/radius';
@import 'utilities/site-wrap';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
